.about-services-screen {
  background: linear-gradient(107.49deg, #3c7beb -0.68%, #79a9fe 100.79%);
  padding-top: 162px;
  padding-bottom: 77px;
  @media(max-width: 992px) {
    padding: 100px 0;
  }
  @media(max-width: 475px) {
    padding: 80px 0;
  }
  &-row {
    display: flex;
    align-items: center;
    justify-content: end;
  }
  &-bg {
    position: absolute;
    left: 0;
    @media(max-width: 1440px) {
      width: 100%;
      max-width: 550px;
      img {
        width: 100%;
      }
    }
    @media(max-width: 1180px) {
      display: none;
    }
  }
  &-column {
    width: 100%;
    max-width: 50%;
    @media(max-width: 1180px) {
      max-width: 100%;
    }
  }
  .title {
    margin-bottom: 20px;
    color: #fff;
  }
  .tabs {
    margin-bottom: 30px;
    &-item {
      padding: 13px 25px;
    }
    @media(max-width: 1180px) {
      width: 100%;
      max-width: 582px;
    }
  }
  .about-services-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    @media(max-width: 1180px) {
      display: grid;
      grid-template-columns: repeat(12, [col-start] 1fr);
      column-gap: 20px;
    }
    @media(max-width: 768px) {
      grid-template-columns: repeat(8, [col-start] 1fr);
    }
    @media(max-width: 475px) {
      grid-template-columns: repeat(4, [col-start] 1fr);
    }
    .about-services-item {
      margin-bottom: 20px;
      background: rgba(255, 255, 255, 0.1);
      border-radius: 10px;
      display: flex;
      padding: 15px;
      border: 1px solid #fff;
      width: 100%;
      max-width: 280px;
      @media(max-width: 1180px) {
        grid-column: span 6;
        max-width: 100%;
      }
      @media(max-width: 768px) {
        grid-column: span 4;
        max-width: 100%;
      }
      &-icon {
        width: 100%;
        max-width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 10px;
        border-radius: 50px;
        background: #fff;
        img {
        }
      }
      &-content {
      }
      &__title {
        margin-bottom: 5px;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 140%;
        color: #ffffff;
      }
      &__desc {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
        color: #ffffff;
        opacity: 0.8;
      }
    }
  }
}
