.main-screen {
  background: linear-gradient(107.49deg, #3c7beb -0.68%, #79a9fe 100.79%);
  height: 100vh;
  padding-top: 75px;
  display: flex;
  align-items: center;
  @media (max-width: 992px) {
    padding-top: 0;
  }
  &-row {
    display: flex;
    align-items: center;
    @media (max-width: 992px) {
      flex-direction: column-reverse;
      justify-content: center;
    }
  }
  &-img {
    transition: width 0.4s;
    width: 100%;
    max-width: 500px;
    @media (max-width: 1440px) {
      width: 100%;
      max-width: 650px;
      transition: width 0.4s;
      img {
        width: 100%;
        transition: width 0.4s;
      }
    }
    @media (max-width: 992px) {
      width: 100%;
      max-width: 671px;
      margin-bottom: 40px;
    }
  }
  &-title {
    font-style: normal;
    font-weight: 700;
    font-size: 54px;
    line-height: 120%;
    color: #ffffff;
    margin-bottom: 15px;
    width: 100%;
    max-width: 520px;
    @media (max-width: 992px) {
      font-size: 48px;
      line-height: 120%;
      text-align: center;
    }
  }
  &-desc {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #ffffff;
    opacity: 0.8;
    margin-bottom: 40px;
    width: 100%;
    max-width: 422px;
    @media (max-width: 992px) {
      margin-bottom: 15px;
      text-align: center;
      max-width: 510px;
    }
  }
  &-btn-list {
    display: flex;
    align-items: center;
    @media (max-width: 992px) {
      justify-content: center;
    }
    .btn {
      &:first-child {
        margin-right: 5px;
      }
    }
  }
}
