.logotype-section {
    padding-top: 104px;
    padding-bottom: 120px;
    background-color: #F3F7FE;
    .company-slider {
        &-item {
            // mix-blend-mode: luminosity;
            // opacity: 0.15;
            cursor: pointer;
            img {
                
            }
        }
    }
}