.developer {
  &-row {
    display: flex;
    justify-content: space-between;
    @media (max-width: 992px) {
      flex-direction: column;
    }
  }
  &-screen {
    margin-top: 0;
    background: #f3f7fe;
    padding-top: 80px;
    @media (max-width: 992px) {
      padding-top: 100px;
      padding-bottom: 100px;
    }
    @media (max-width: 600px) {
      padding: 0;
    }
    .container {
      padding: 0px;
      @media (max-width: 1180px) {
        padding: 0 20px;
      }
      @media (max-width: 600px) {
        .row {
          padding: 0;
        }
      }
    }
    .title {
      width: 100%;
      max-width: 340px;
      margin-bottom: 20px;
      @media (max-width: 475px) {
        font-weight: 700;
        font-size: 20px;
        line-height: 120%;
      }
    }
    .desc {
      width: 100%;
      max-width: 430px;
      margin-bottom: 40px;
    }
    .developer-info {
      width: 100%;
      max-width: 468px;
      @media (max-width: 992px) {
        display: flex;
        gap: 16px;
        max-width: 100%;
        margin-bottom: 80px;
        img {
          width: 100%;
          max-width: 281px;
          height: 244px;
        }
      }
      @media (max-width: 600px) {
        display: none;
      }
      &-content {
        @media (max-width: 992px) {
          width: 100%;
        }
      }
    }
    .form {
      background: #ffffff;
      border-radius: 8px;
      padding: 40px;
      width: 100%;
      max-width: 603px;
      height: 538px;
      @media (max-width: 992px) {
        max-width: 100%;
        height: auto;
      }
      @media (max-width: 600px) {
        padding: 60px 15px 80px;
      }
      &-title {
        margin-bottom: 15px;
        font-style: normal;
        font-weight: 700;
        font-size: 25px;
        line-height: 120%;
        display: flex;
        align-items: flex-end;
        color: #1a1a1a;
      }
      &-desc {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        color: #959595;
        margin-bottom: 40px;
      }
      form {
        label {
          display: flex;
          justify-content: space-between;
          gap: 18px;
          margin-bottom: 18px;
          @media (max-width: 600px) {
            flex-wrap: wrap;
          }
          &:last-child {
            margin-bottom: 0;
          }
          input {
            background: #f9f9f9;
            border: 0.5px solid #d3d3d3;
            border-radius: 8px;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 120%;
            color: #1a1a1a;
            padding: 17px 24px;
            width: 100%;
            &::placeholder {
              color: #959595;
            }
            &:focus,
            &:active,
            &:focus-visible {
              border: 1px solid #3c7beb;
              outline: none;
            }
          }
          textarea {
            background: #f9f9f9;
            border: 0.5px solid #d3d3d3;
            border-radius: 8px;
            padding: 17px 24px;
            height: 120px;
            resize: none;
            width: 100%;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 120%;
            color: #1a1a1a;
            @media (max-width: 1024px) {
              height: 90px;
            }
            &::placeholder {
              color: #959595;
            }
            &:focus,
            &:active,
            &:focus-visible {
              border: 1px solid #3c7beb;
              outline: none;
            }
          }
        }
        .form-send {
          display: flex;
          justify-content: space-between;
          align-items: center;
          @media (max-width: 600px) {
            flex-direction: column-reverse;
            align-items: baseline;
            row-gap: 25px;
          }
          .btn {
            margin-right: 37px;
            width: 100%;
            max-width: 223px;
            @media (max-width: 600px) {
              max-width: 100%;
              margin-right: 0;
            }
          }
          span {
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 150%;
            color: #1a1a1a;
            width: 100%;
            max-width: 263px;
            letter-spacing: -1.2px;
            a {
              color: #3c7beb;
            }
          }
        }
      }
    }
  }
  &-contacts {
    display: flex;
    align-items: center;
    margin-bottom: 34px;
    @media (max-width: 992px) {
      margin-bottom: 0;
      flex-wrap: wrap;
      row-gap: 15px;
    }
    a {
      display: flex;
      align-items: center;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 120%;
      color: #1a1a1a;
      margin-right: 32px;
      &:last-child {
        margin-right: 0;
      }
      svg {
        margin-right: 12px;
      }
    }
  }
}
