@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}

body {
  background: #f5f5f5;
}

.container {
  width: 100%;
  max-width: 1180px;
  margin: 0 auto;
  @media (max-width: 1180px) {
    padding: 0 20px;
  }
  @media (max-width: 375px) {
    padding: 0 15px;
  }
  & > .row {
    display: flex;
    @media (max-width: 768px) {
      padding: 0 20px;
    }
    @media (max-width: 475px) {
      padding: 0 15px;
    }
  }
}

.btn {
  border-radius: 1000px;
  background: rgba(255, 255, 255, 0.2);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  text-align: center;
  color: #ffffff;
  padding: 12px 22px 14px;
  cursor: pointer;
  &--orange {
    background: #fb943c;
  }
}

.title {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 140%;
  color: #1a1a1a;
  @media (max-width: 475px) {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
    color: #1a1a1a;
  }
}

.desc {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #959595;
}

.slider-navigation {
  display: flex;
  align-items: center;
  &__arrow {
    cursor: pointer;
    opacity: 0.5;
    border: 1px solid #959595;
    border-radius: 9999px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    &:last-child {
      margin-right: 0;
    }
    &:hover {
      border: none;
      background: #3c7beb;
      opacity: 1;
      svg path {
        stroke: white;
      }
    }
    &-prev {
      svg {
        transform: rotate(90deg);
      }
    }
    &-next {
      svg {
        transform: rotate(-90deg);
      }
    }
    svg {
      width: 20px;
      height: 20px;
    }
  }
}

.tabs {
  display: flex;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 56px;
  overflow: hidden;
  &-item {
    padding: 16px 32px;
    cursor: pointer;
    span {
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 120%;
      color: #ffffff;
    }
    &.active {
      background: #ffffff;
      border-radius: 36px;
      span {
        font-weight: 500;
        color: #3c7beb;
      }
    }
  }
}
