.footer {
  background: #1a1a1a;
  padding-top: 39px;
  padding-bottom: 30px;
  @media (max-width: 475px) {
    padding-top: 30px;
  }
  &-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
    &-logo {
      @media (max-width: 475px) {
        width: 100%;
        max-width: 107px;
      }
    }
    .social-link {
      display: flex;
      align-items: center;
      a {
        margin-right: 20px;
        display: block;
        cursor: pointer;
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
  &-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width: 768px) {
      flex-wrap: wrap;
      gap: 20px;
    }
    @media (max-width: 475px) {
      flex-wrap: nowrap;
      align-items: baseline;
      justify-content: space-between;
    }
    a {
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 140%;
      color: #ffffff;
      cursor: pointer;
      display: block;
      @media (max-width: 475px) {
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
        margin-bottom: 20px;
        margin-right: 0;
      }
      &:last-child {
        margin-right: 0;
        margin-bottom: 0;
      }
    }
    &-menu {
      display: flex;
      align-items: center;
      @media (max-width: 475px) {
        flex-direction: column;
        align-items: baseline;
        position: relative;
        top: -7px;
      }
      a {
        margin-right: 50px;
        @media (max-width: 475px) {
          margin-right: 0;
        }
      }
    }
    &-contacts {
      display: flex;
      align-items: center;
      @media (max-width: 768px) {
        flex-wrap: wrap;
      }
      @media (max-width: 475px) {
        align-items: end;
        flex-direction: column;
      }
      a {
        display: flex;
        align-items: center;
        margin-right: 20px;
        @media (max-width: 475px) {
          margin-right: 0px;
        }
        svg {
          margin-right: 10px;
        }
      }
    }
  }
  &-bottom-line {
    margin: 30px 0px;
    width: 100%;
    height: 1px;
    background: #4c4c4c;
  }
  &-copyright-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width: 768px) {
      flex-wrap: wrap;
      gap: 20px;
      flex-direction: column-reverse;
      align-items: baseline;
    }
    span {
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 150%;
      color: #ffffff;
    }
  }
  &-copyright-link {
    display: flex;
    @media (max-width: 768px) {
      flex-wrap: wrap;
      gap: 10px;
    }
    a {
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 150%;
      color: #959595;
      display: block;
      margin-right: 30px;
      @media (max-width: 475px) {
        margin-right: 0;
        width: 100%;
        max-width: 240px;
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
}
